body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.071;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

p {
  letter-spacing: 0.02em;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-bar {
  display: flex;
  align-items: center;
  gap: 76px;
  border-bottom: 1px solid #e7e9fc;
}

.header-bar__nav {
  flex-grow: 1;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1666;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo--dark {
  color: #f4f4fd;
}

.logo__accent {
  color: #4d5ae5;
}

.nav-bar {
  display: flex;
  gap: 40px;
  margin: 24px 0;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-bar {
  display: flex;
  gap: 40px;
  margin: 24px 0;
}

.contact-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.section {
  padding: 120px 0;
}

.hero-section {
  background-color: #2e2f42;
  padding: 188px 15px;
}

.hero-banner {
  max-width: 526px;
}

.hero-banner__title {
  margin-bottom: 48px;
}

.hero-banner__button {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

.page-title {
  text-align: center;
  color: #ffffff;
}

.team-section {
  background-color: #f4f4fd;
}

.section-title {
  text-align: center;
}

.team-member-list > li {
  background-color: #ffffff;
}

.team-member__name,
.team-member__position {
  text-align: center;
}

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
